{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Uw apparaat of naam is geblokkeerd.</h1>
        {% if passive_agressive %}
        <h2>Dikke pech</h2>
        {% endif %}
    </div>
</div>
{% if passive_agressive %}
<div class="section">
    <div class="container">
        {% load static %}
        <img class="u-max-full-width" style="width: 100%;" alt="permabanned GIF" src="{% static 'wall/img/banned.gif' %}"/>
    </div>
</div>
{% endif %}
{% endblock content %}
