{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Leaderboard</h1>
    </div>
    <div class="row">
        <div class="section">
            <h2>SMS</h2>
            <ol>
                {% for sender in sms_leaders %}
                <li>{{ sender.sender }} ({{ sender.n }})</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="section">
            <h2>Foto's</h2>
            <ol>
                {% for sender in pic_leaders %}
                <li>{{ sender.poster }} ({{ sender.n }})</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock content %}

{% block afterbody %}
{% endblock afterbody %}
