{% extends "base.html" %}

{% block content %}
{% if bigscreen is False %}
<div class="section">
    <div class="container">
        <a href="{% url 'newpic' %}" class="button button-primary">Post een foto!</a>
        <div id="img">
        </div>
    </div>
</div>
{% endif %}
<div class="section">
    <div class="container {% if bigscreen %}wide{% endif %}">
        <img class="u-max-full-width hero-image" src="{{ pic.url }}" alt="Foto van {{ pic.poster }}" />
        <h2 id="poster">{{ pic.poster }}</h2>
    </div>
</div>
{% endblock content %}

{% block afterbody %}
  {% load static %}
  <script type="text/javascript" src='{% static "wall/js/jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "wall/js/kazou.js" %}'></script>
{% endblock afterbody %}
