{% extends "base.html" %}

{% block content %}
{% if bigscreen is False %}
<div class="section">
    <div class="container">
        <a href="{% url 'newpic' %}" class="button button-primary">Post een foto!</a>
        <div id="img">
        </div>
    </div>
</div>
{% endif %}
<div class="section">
    <div class="container {% if bigscreen %}wide{% endif %}">
        <img class="u-max-full-width hero-image" src="{{ pic.url }}" alt="Foto van {{ pic.poster }}" />
        <h2 id="poster">{{ pic.poster }}</h2>
    </div>
</div>
{% endblock content %}

{% block afterbody %}
  {% load static %}
  <script type="text/javascript" src='{% static "wall/js/jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript">
   function reqListener() {
       console.log(this.responseText);
       var data = JSON.parse(this.responseText);
       var poster_div = $('#poster');
       var img = $('.hero-image');

       poster_div.text(data.poster);
       img.attr("src", data.url);
   }

   $(function() {
       window.setInterval(function() {
           var oReq = new XMLHttpRequest();
           oReq.addEventListener("load", reqListener);
           console.log(window.location.protocol+"//"+window.location.host);
           oReq.open("GET", "/next/" + $('.hero-image').attr('src'));
           oReq.send();
       }, {{ min_display_time }});

   });
  </script>
{% endblock afterbody %}
